@page
@model KeepOnRipping.Pages.ArticleModel
@{
    ViewData["Title"] = "Article";
}

<div id="article">
    @if ( @Model.ArticleResponse.IsOk == false )
    {
        Response.Redirect($"/Error?error={@Model.ArticleResponse.HtmlContent}");
    }
    else
    {
        @Html.Raw(@Model.ArticleResponse.HtmlContent)
    }
</div>