@page
@using System.Text

@model KeepOnRipping.Pages.ArticleModel
@{
    ViewData["Title"] = "Article";
}

<div id="article">
    @if ( @Model.ArticleResponse.IsOk == false )
    {
        string encodedError = Convert.ToBase64String(Encoding.UTF8.GetBytes(@Model.ArticleResponse.HtmlContent));
        Response.Redirect($"/Error?error={encodedError}");
    }
    else
    {
        @Html.Raw(@Model.ArticleResponse.HtmlContent)
    }
</div>