@page
@model KeepOnRipping.Pages.ErrorModel
@using System.Text
@{
    ViewData["Title"] = "Error";
}

<link rel="stylesheet" href="/css/main.css">

<div class="jumbotron">
  <div class="container">
    <br />
    <h1 class="post-title-main" itemprop="name headline">Error.</h1>
    <h2 class="post-title-main" itemprop="name headline">An error occurred while processing your request.</h2>
    <br />
  </div>
</div>

@if (Model.HtmlError != string.Empty)
{
    <br />
    <center>
        @{
            try
            {
                string error = Encoding.UTF8.GetString(Convert.FromBase64String(@Model.HtmlError));
                @Html.Encode(error)
            }
            catch
            {
                @Html.Raw("Error was not encoded correctly.")
            }
        }
    </center>
    <br /><br /><br />
}


@if (Model.ShowRequestId)
{
    <center>
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    </center>
}

