<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Keep on Rippin'!</title>
    <link rel="stylesheet" href="/css/article.css">
</head>
<body>
    <div class="container">
        <main role="main" >
            @RenderBody()
        </main>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="footer-content">
        <br>
        <a href="/">Keep on Rippin' - Home</a> - v1.0.@Environment.GetEnvironmentVariables()["$GITHUB_RUN_NUMBER"]
      </div>
    </nav>
</body>
</html>